<?xml version="1.0" encoding= "UTF-8"?> 
<web-app xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance" xmlns= "http://java.sun.com/xml/ns/javaee" xmlns:web= "http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id= "WebApp_ID" version ="3.0"> 
	<display-name>Web Application</display-name>
	
	<filter>
	    <filter-name>myFilter</filter-name>
	    <filter-class>mingyuan2011.webapp.filter.MyFilter</filter-class>
	    <init-param>
	        <param-name>username</param-name>
	        <param-value>mingyuan2011</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>myFilter</filter-name>
	    <url-pattern>*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>struts2</filter-name>
	    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>struts2</filter-name>
	    <url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<servlet>
	    <servlet-name>jerseyServlet</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>com.sun.jersey.config.property.packages</param-name>
	        <param-value>mingyuan2011.webapp.ws</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>jerseyServlet</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
		
	<servlet>
	    <servlet-name>myServlet</servlet-name>
	    <servlet-class>mingyuan2011.webapp.servlet.MyServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>myServlet</servlet-name>
	    <url-pattern>/servlet/myServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>